
/* FORMULARIO/*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	scroll-behavior: smooth;
}



body {
    /*--dot-bg: #376e50;*/
	--dot-bg: #f5e1ce;
	background: #e8c39e;
    --dot-color: white;
    --dot-size: 1px;
    --dot-space: 22px;
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);

    font-family: "Montserrat", sans-serif;
	
	
	


}

/*CONFIGURACION DEL NAV*/

.titulo h1{
    padding: 20px 0;
    text-align: center;
    font-size: 3em;
}

.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
	
}

.header .logo{
    margin-right: auto;
}

.header .logo img{
    height: 70px;
    width: auto;
	border-radius: 10px;
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    color: #fff;
    text-decoration: none;
}

.header .nav-links li a:hover{
    color: #4cd087;

}

/*FIN DE CONFIGURACION DEL NAV*/

.conteiner{
    /*background: white;*/
	background: #e8c39e;
    width: 90%;
    max-width: 1000px;
    margin: 2em auto;

    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(3, 1fr);
}

.conteiner > .header,
.conteiner > .contenido,
.conteiner > .sidebar,
.conteiner > .footer{
	background: #e8c39e;
    /*background: white;*/
    padding: 20px;
}

.conteiner .header,
.conteiner .footer{
    grid-column: 1/4;
    /*background: #09342f;*/
	background: #e8c39e;
    color: #fff;
}

.conteiner .contenido{
    grid-column: span 2;
}

.conteiner .sidebar{
    grid-column: span 1;
    background: #73a068;
}
/*FIN CONFIGURACION GRID*/



main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}

h2{
	text-align: center;
} 

.formulario {
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;
}

.formulario__label {
	display: block ;
	font-weight: 500;
	padding: 5px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 10px solid transparent;
	border-radius: 10px;
	height: 50px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus-visible {
	border: 3px solid #1b5b0c;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}	

.formulario__validacion-estado {
	position: absolute;
	rigth: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity:0;
}

.formulario_cultivo {
	align-items : center;
	font-size: 16px;
	border-radius: 10px;
	border: 10px solid transparent;

}

.content-select select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.content-select select::-ms-expand {
    display: none;
}

.content-select select{
	
	font-size: 1em;
	width: 100%;
	background: #fff;
	border: 10px solid transparent;
	border-radius: 10px;
	height: 50px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.content-select :focus-visible {
	border: 3px solid #1b5b0c;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario_comentarios {
	
	
	align-items : center;
	font-size: 16px;
	border-radius: 10px;
	border: 10px solid transparent;
}

.formulario_comentarios:focus-visible {
	border: 3px solid #1b5b0c;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}


.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #1b5b0c;
	color:  #fff;
	font-weight: bold;
	font-size: 20px;
	border-radius: 10px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px #1b5b0c;opacity: 5;;
}

.formulario__mensaje-exito {
	font-size: 16px;
	color: #1ed12d;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- ----- Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 5;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 5;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

