*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    scroll-behavior: smooth;
}


body {
    --dot-bg: #f5e1ce; /*esto es una prueba*/
    /*--dot-bg: #376e50;*/
    --dot-color: white;
    --dot-size: 1px;
    --dot-space: 22px;
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);
}

/*CONFIGURACION DEL NAV*/

.titulo h1{
    padding: 20px 0;
    text-align: center;
    font-size: 3em;
}

.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    margin-right: auto;
}

.header .logo img{
    height: 70px;
    width: auto;
    border-radius: 10px;
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    color: #fff;
    text-decoration: none;
}

.header .nav-links li a:hover{
    color: #4cd087;

}

/*FIN DE CONFIGURACION DEL NAV*/

/*CONFIGURACION DEL NAV DEL TIPO DE FLORES*/

.navFlores{
    display: block;
    justify-content:center;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    
}

.navFlores h2{
    text-align: center;
    text-shadow: 0 0 30px #09342f;
}

.navFlores ul{
    list-style: none;
    

}

.navFlores ul li{
    display: inline-block;
    margin: 10%;
}

.navFlores ul li:hover{
    transform: scale(1.1);
}

.navFlores ul a{
    color: #c0f0ce;
    text-decoration: none;
    /*border: 2px solid rgb(189, 205, 189);
    border-radius: 6px;*/
    
}

.navFlores ul a:hover{
    background: #57d57d;
}

/*FIN DE CONFIGURACION DE NAV DEL TIPO DE FLORES*/

/*CONFIGURACION DEL INDEX*/

.imagenesIndex{
    width: 80%;
    height: auto;
    border-radius: 10px;
}

.contenido .articulo .noticiaTitulo{
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 30px;
}

.contenido .h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px; 
    text-shadow: 0 0 30px #09342f;  
}

.contenido .articulo{
    text-align:center;
}

.contenido .articulo .lead,
.contenido .articulo p {
    padding: 20px;
    text-align: left;
}

.contenido .articulo p{
    margin-bottom: 30px;
}

.contenido .articulo .lead{
    font-size: 20px;
}

.historiaFlores {
    padding: 2px
    margin: 5 px;
    text-align: left;
    font-size: 15px;
    font-style: italic;
    border-radius: 10px;
    border: 1px solid ;
    }
.historiaFlores:focus-visible {
    border: 3px solid   #1b5b0c;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
    }
.historiaBtnEnviar {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #1b5b0c;
    color:  #fff;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: .1s ease all;
    }


.historiaBtnMenu {
    align-items: center;
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #1b5b0c;
    color:  #fff;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: .1s ease all;
                }

/*FIN CONFIGURACION DEL INDEX*/

/*CONFIGURACION GRID*/
.conteiner{
    background: white;
    width: 90%;
    max-width: 1000px;
    margin: 2em auto;

    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(3, 1fr);
}

.conteiner > .header,
.conteiner > .contenido,
.conteiner > .sidebar,
.conteiner > .footer{
    background: white;
    padding: 20px;
}

.conteiner .header,
.conteiner .footer{
    grid-column: 1/4;
    background: #e8c39e; /*esta es una prueba*/
    /*background: #09342f;*/
    color: #fff;
}

.conteiner .contenido{
    grid-column: span 2;
}

.conteiner .sidebar{
    background: #5ccb5f; /*Esta es una prueba*/
    /*background: #73a068;*/
    padding: 10%;
    text-align: center;
}

.conteiner .sidebar div{
    border: 5px yellow dashed;
    padding: 5%;

}

.conteiner .sidebar p{
    margin-top: 3%;
    font-style: italic;
    text-align: justify;
    font-size: 15px;
}

.conteiner .sidebar

/*FIN CONFIGURACION GRID*/
.conteiner .tiposDeFlores img{
    height: auto;
    padding: 25px;
    margin: 30px 0px 20px 150px;
    border-radius: 40px;
    box-shadow: inset 0px 0px 10px 0 rgba(20, 20, 20, 0.2);
}

.conteiner .contenido .tiposDeFlores p{
    border-bottom: 3px dotted green;
    padding-bottom: 10px;;
}

#articulo1, #articulo2, #articulo3, #tusFlores{
    font-size: 30px;
    text-shadow: 0 0 30px #08d36e;
    margin-bottom: 20px;
    text-align: center;
    border: 2px dashed #09342f;
	border-radius: 10px;
}


a {
    text-decoration: none;
    color: green;
}